<!-- home.handlebars -->
{{#if searchTerm}}
  <h1>Results for {{searchTerm}}</h1>
{{else}}
  <h1>Search for GIFS</h1>
{{/if}}
<form action="/">
  <input type="text" name="term">
  <label for="gifCount">Display Count:</label>
  <select id="gifCount" name="gifCount">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="5">5</option>
    <option value="10">10</option>
  </select>
  <button type="submit">Search</button>
</form>
<!-- home.handlebars -->
<div class="gif-grid">
{{#each gifs}}
{{!-- set the data-width to whatever you want --}}
{{!-- Note that we're using properties of the gif (id, itemurl, url) to fill in information needed to render the gif --}}
    <div class="tenor-gif-embed" data-postid="{{this.id}}" data-share-method="host" data-width="500px"
      data-aspect-ratio="1.2266666666666666"><a
          href="{{this.itemurl}}"></a>
      <a href="{{this.url}}"></a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{{/each}}
</div>
